#navbar-main{
    background-color:#ffd480;
    color: white;
    padding: 0 5%;
}

#img1{
    font-weight: 500;
    font-size: larger;
    width: 100px;
    height: 75px;
}

#content{
    font-size: large;
    font-weight: bold;
    }

#search_box{
    background-color: #ffeecc;
    border: 0px;
    position: relative;
    left: 8px;
    border-radius: 0px;
    box-shadow: 5px 5px 5px #b9b9a194
}  

#button{
    background-color: #b3ffff;
    color: black;
    border: 0px;
    position: relative;
    /* z-index: 99; */
    border-radius: 0px;
    box-shadow: 5px 5px 5px #b9b9a194
}

@media only screen and ( max-width: 950px ){


    #searach_form{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -8px;
    }
}


/* BAnner */

#content-main{
    background-color: #ffab03;
    padding-bottom: 20px; 
    padding-top: 20px; 

}

#banner-text h1{
    color: white;
    font-size: 40px;
}

#banner-text p{
   
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#btn-1{
    border: 2px solid #99ffff;
    background-color: #99ffff;
    font-weight: 500;
  
}

#btn-2{
    border: 2px solid white;
    background-color: white;
    font-weight: 500;
    margin-left: 20px;
  
}

#banner-img{
    padding-top: 80px;
    margin-top: -60px;
}

@media only screen and (max-width: 820px){

    #content-main{
        padding-bottom: 50px;
    }

    #banner-text h1{
        font-size: 25px;
    }

    #banner-text p{
        font-size: 21px;
    }

   #banner-img{
    padding-top: 80px;
    width: 300px;
    margin-top: 10px;
   }
}

@media only screen and (max-width: 380px){

    #content-main{
        padding-bottom: 50px;
    }

    #banner h1{
        
        font-size: 25px;
    }

    #banner p{
        font-size: 18px;
    }

    #btn-1{
        font-size: 12px;
        width: 90px;
     }

     #btn-2{
        font-size: 12px;
        width: 97px;
     }
}

/* Services */

#services-text h1{
    font-size: 40px;
    padding-top :20px;
    
}

#services-text p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

#services-btn{
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #ffab03;
    color: white;
    background-color:#ffab03 ;
}

#services-img{
    
    width: 410px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
}

@media only screen and (max-width: 820px){

   

    #services-img{
        margin-left: auto; 
        margin-left: 0px;
    } 

    #services-btn{
        margin-bottom: 50px;
    }

    #services-text h1{
        font-size: 25px;                                               
    }
} 

@media only screen and (max-width: 768px){

    #content-services{
        margin-bottom: -30px;
    }

    #services-text h1{
        font-size: 25px;
    }
}

@media only screen and (max-width: 380px){
             
#services-btn{
    margin-bottom: 15px;
}
   
}

/* Counter Section */

#counter-sect{
    padding-top: 10px;
    background-color:  #ffab03;
}

.counter-icon{
    font-size: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.counter-icon h3{
    color: white;
}

@media only screen and (max-width: 400px){

    .counter-icon{
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

/* Post */

#post{
    padding-top: 50px;
    padding-bottom: 50px;
}

#post h1{
    font-size: 50px;
}

#post p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}


#post-img1 .img-fluid, #post-img2 .img-fluid, #post-img3 .img-fluid{
    width: 340px;
    height: 300px;
    box-shadow: 8px 8px 8px #808080a8;
}

#post-details h1{
    padding-top: 20px;
    font-size: 30px;
}

#post-details p{
    font-size: 15px;
    text-decoration: none;
    text-decoration-color: black;
}

#post a{
    text-decoration: none;
    font-weight: bold;
}

/* Footer */

#footer{
    background-color: hsl(40, 100%, 65%);
    padding-top: 50px;
    padding-bottom: 30px;
}

#footer a{
    color: white;
    text-decoration: white;
}

#footer-form{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
    left:10px
}

#text{
    padding: 10px 20px;
    position: relative;
    left:15px
    background-color: #ebff50;
    border: 0;

}

#footer-btn{
    background-color: #99ffff;
    border: 0;
    padding: 10px 20px;
}



#icon-footer{
    font-size: 25px;
    padding: 5px;
}


@media only screen and (max-width: 500px){
   #footer{
    padding-top: 5px;
   }

   #footer h4{
    padding-top: 40px;
   }
}